$rings: 20;
$size: 200px;
$duration: 5s;
$color: #f00000;

.techfont{

 font-family: 'Charmonman', cursive;
 font-size: 1.5em;
 margin-bottom : 10px;

}
.bigbrand{
  font-size: 1.5em;
}
.centerstage{
  margin-left:auto;
  margin-right:auto;
}


